streamlit
ultralytics
Pillow
opencv-python
numpy
streamlit-option-menu
streamlit-webrtc
streamlit_javascript
user_agents
firebase_admin
google_auth_oauthlib
google.oauth2
google.auth.transport
google_auth_oauthlib.flow
