/* style.css */
.stApp {
    background-color: #2c5cbd;
}

.header h1{
    text-align: center;
    color: #ffffff;
}

.description p{
    text-align: center;
    color: #ffffff;
}

.upload-section {
    text-align: center;
    color: #31333f;
}

.css-1aumxhk {
    background-color: #e8eaf6 !important;
}

.stButton>button {
    background-color: #6c63ff;
    color: #fff;
}

.stSpinner {
    color: #6c63ff;
}


.stImage img {
    border-radius: 50px; /* Adjust the value to change the roundness of the corners */
}


